.navbar {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.logo {
    width: 225 px;
    height: 75px;
}   